.vscode/
*.db
*.bat
*.exp
*.pdb
*.dll
*.a
*.so
*.db-shm
*.db-wal
package-lock.json
*.sqlite
node_modules/
build/
# C benchmark binary
bench/bench
deno.lock
bun.lockb
.DS_Store
frmSQLite/.vs/frmSQLite/FileContentIndex/06bfa93a-e77a-4074-8dc3-7ca8eaef67c1.vsidx
frmSQLite/.vs/frmSQLite/FileContentIndex/5c50c500-ab11-4d00-84bf-fa6e0a89f48c.vsidx
frmSQLite/.vs/frmSQLite/FileContentIndex/8e7c124b-02b9-442b-a377-07536293e5f8.vsidx
frmSQLite/.vs/frmSQLite/FileContentIndex/b15b3f55-43d4-43c2-98c6-4ed77ec30470.vsidx
frmSQLite/.vs/frmSQLite/FileContentIndex/c561e9f0-1d38-4205-99bf-41a65dca35e6.vsidx
frmSQLite/.vs/frmSQLite/FileContentIndex/read.lock
frmSQLite/.vs/frmSQLite/v17/.suo
frmSQLite/.vs/frmSQLite/v17/DocumentLayout.backup.json
frmSQLite/.vs/frmSQLite/FileContentIndex/06bfa93a-e77a-4074-8dc3-7ca8eaef67c1.vsidx
frmSQLite/.vs/frmSQLite/FileContentIndex/5c50c500-ab11-4d00-84bf-fa6e0a89f48c.vsidx
frmSQLite/.vs/frmSQLite/FileContentIndex/8e7c124b-02b9-442b-a377-07536293e5f8.vsidx
frmSQLite/.vs/frmSQLite/FileContentIndex/b15b3f55-43d4-43c2-98c6-4ed77ec30470.vsidx
frmSQLite/.vs/frmSQLite/FileContentIndex/read.lock
frmSQLite/.vs/frmSQLite/v17/.suo
*.lock
frmSQLite/.vs/frmSQLite/FileContentIndex/06bfa93a-e77a-4074-8dc3-7ca8eaef67c1.vsidx
frmSQLite/.vs/frmSQLite/FileContentIndex/5c50c500-ab11-4d00-84bf-fa6e0a89f48c.vsidx
frmSQLite/.vs/frmSQLite/FileContentIndex/8e7c124b-02b9-442b-a377-07536293e5f8.vsidx
frmSQLite/.vs/frmSQLite/FileContentIndex/b15b3f55-43d4-43c2-98c6-4ed77ec30470.vsidx
frmSQLite/.vs/frmSQLite/FileContentIndex/read.lock
frmSQLite/.vs/frmSQLite/v17/.suo
